  .project-title {
    margin-bottom: 10px;
  }

  .project-title a {
    font-size: 1.25rem;
    color: black;
  }

  .project-item {
    margin-bottom: 30px;
  }

  .project-role {
    font-size: 1rem;
  }