.education {
    margin-bottom: 60px;

    .education-item {
      margin-bottom: 30px;
    }

    .education-title {
        margin-bottom: 15px;
    }

    .education-date {
        margin-bottom: 15px;
    }

    .education-desc {
        position: relative;
        margin-left: 50px;
        margin-bottom: 15px;
        line-height: 1.5;

        &::before {
            content: "\2014";
            display: block;
            position: absolute;
            left: -35px;
        }
    }
}