body {
	@include font-source-sans;
}

p {
	line-height: 1.25;
	margin-bottom: 10px;

	.strong {
		font-weight: 800;
	}
}

.layout-container {
  max-width: 980px;
  margin: 0 auto;
}

h2 {
  @include font-source-sans-bold;
  margin-bottom: 15px;
  font-weight: 900;
  display: inline-block;
  font-size: 2rem;
  position: relative;
  vertical-align: bottom;
  line-height: 1;
}