@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

@mixin font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

@mixin font-open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin font-source-sans {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.15rem;
}

@mixin font-source-sans-bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
