@import "./../../App.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include breakpoint($bp-md) {
        flex-direction: row;
      }
    }

    li {
      display: inline-block;
      position: relative;
      margin-left: 15px;
    }

    a {
      @include font-source-sans;
      display: block;
      text-decoration: none;
      color: $secondary-color;
      line-height: 1.5;
      font-size: 1.25rem;
    }
  }
}