@import "./../../App.scss";

.icon-list {
  display: flex;

  li {
    border: 5px solid $secondary-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    &:hover {
      background-color: black;
      border-color: black;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }

  .icon-email {
    width: 22px;
    height: 22px;
  }
}